<div class="display-contact-details" *ngIf="contactDetail">
    <div class="d-flex flex-column">
        <div class="contact-item d-flex justify-content-between">
            <h4 id="contact-name">{{contactDetail.name}}</h4>
            <div class="align-items-end d-flex align-items-center"> 
                <div class="d-flex mr-20" >
                    <img src="../../assets/images/Edit-icon.png" alt="edit" height="20px" class="d-block mr-2">
                    <a routerLink="/contact/contact-form/{{contactDetail.id}}" class="edit-button">EDIT</a>
                </div>
                <div class="options d-flex mr-2" (click)="deleteContactDetail(contactDetail.id)">
                    <img src="../../assets/images/delete1.png" alt="delete" height="20px" class="d-block mr-2">
                    <a href="#" class="delete-button">DELETE</a>
                </div>

            </div>
        </div>
        <div class="contact-item">
            <label class="contact-details">Email: </label>
            <p id="contact-email" class="d-inline"> {{contactDetail.email}} </p>
        </div>
        <div class="contact-item">
            <label class="contact-details">Mobile: </label>
            <p id="contact-mobile" class="d-inline"> {{contactDetail.mobile}}</p>
        </div>
        <div class="contact-item">
            <label class="contact-details">Landline: </label>
            <p id="contact-landline" class="d-inline"> {{contactDetail.landline}}</p>
        </div>
        <div class="contact-item">
            <label class="contact-details">Website: </label>
            <p id="contact-website" class="d-inline"> {{contactDetail.website}}</p>
        </div>
        <div class="contact-item">
            <label class="contact-details">Address: </label>
            <p id="contact-address" class="d-inline"> {{contactDetail.address}}</p>
        </div>
    </div>
</div>