<div class="display-contact-details" *ngIf="contactDetail">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
            <h4>{{contactDetail.name}}</h4>
        </div>
        <div class="d-flex align-items-center">
            <span class="bi bi-envelope mr-4"></span>
            <p> {{contactDetail.email}} </p>
        </div>
        <div class="d-flex align-items-center">
            <span class="bi bi-phone mr-4"></span>
            <p> {{contactDetail.mobile}}</p>
        </div>
        <div class="d-flex align-items-center" *ngIf="contactDetail.landline">
            <span class="bi bi-telephone mr-4"></span>
            <p> {{contactDetail.landline}}</p>
        </div>
        <div class="d-flex align-items-center" *ngIf="contactDetail.website">
            <span class="bi bi-globe2 mr-4"></span>
            <p> {{contactDetail.website}}</p>
        </div>
        <div class="d-flex align-items-center" *ngIf="contactDetail.address">
            <span class="bi bi-house-door mr-4"></span>
            <p> {{contactDetail.address}}</p>
        </div>
    </div>
</div>