$blue: #3398CC;
$blue-500: #2986ce !default; //link
$coral-red-500: #fa5f5f !default;
$white: #ffffff;
$black: #333333;
$black-100:#212529;
$light-black: #555;
$cali-light: 'Calibri light';
$cali: 'Calibri';
$cen-gothic: 'Century Gothic';
$yellow:#FF9900;
$green-500: #86c06a;
$orange-500: #ff9800 !default;
$slate:#EEEEEE;
$hover:#CEE7F2;