$blue: #3398CC;
$white: #ffffff;
$black: #333333;
$black-100:#212529;
$light-black: #555;
$cali-light: 'Calibri light';
$cali: 'Calibri';
$cen-gothic: 'Century Gothic';
$yellow:#FF9900;
$slate:#EEEEEE;
$hover:#CEE7F2;