<div class="d-flex align-items-center justify-content-between">
    <h5 class="mb-2 font-weight-bolder side-heading">Contacts</h5>
    <button class="btn btn-primary" (click)="addContactModal()">Add Contact</button>
</div>

<div class="row">
    <div class="text-justify mt-4 mb-2 col-sm-4">  
        <div class="input-search mb-2">
            <span class="bi bi-search"></span>
            <input class="form-control" placeholder="Search Contacts" (input)="filterContacts($event)">
        </div>     
        <div class="contact-list mr-0">
            <div class="d-flex align-items-start justify-content-between border p-2 mb-2" routerLinkActive="active" *ngFor="let contact of filteredContactList"
                [routerLink]="['detail', contact.id]">
                <div>
                    <h2 class="mb-1  font-weight-lighter">{{contact.name}}</h2>
                    <div class="d-flex align-items-center mb-2">
                        <span class="bi bi-envelope mr-4"></span>
                        <p class="mb-0 text-secondary">{{contact.email}}</p>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <span class="bi bi-phone mr-4"></span>
                        <p class="mb-1 text-secondary">{{contact.mobile}}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <span class="bi bi-pencil mx-1" (click)="editContact(contact)"></span>
                    <span class="bi bi-trash ml-1" (click)="deleteContact(contact.id)"></span>
                </div>
            </div>            
        </div>
    </div>
    <div class="my-4 col-sm-8 p-4 ml-5">
        <router-outlet></router-outlet>
    </div>
</div>