<ng-container *ngIf="contactList.length > 0">
    <div class="d-flex align-items-start justify-content-between p-3">
        <div>
            <h4 class="display-6">Contacts</h4>
            <p class="text-secondary">Contacts helps in communicating updates, generate qualified leads, and set
                appointments. Manage your contacts here</p>
        </div>
        <button class="btn btn-primary mt-2" (click)="addContactModal()">Add Contact</button>
    </div>

    <div class="row ml-3">
        <div class="text-justify mt-4 mb-2 col-sm-4">
            <div class="input-search mb-2">
                <span class="bi bi-search"></span>
                <input class="form-control" placeholder="Search Contacts" (input)="filterContacts($event)">
            </div>
            <div class="contact-list mr-0">
                <div class="contact-list-item d-flex align-items-start justify-content-between mb-2"
                    routerLinkActive="active" *ngFor="let contact of filteredContactList"
                    [routerLink]="['detail', contact.id]">
                    <div>
                        <h2 class="text-capitalize">{{contact.firstname}} {{contact.lastname}}</h2>
                        <!-- <div class="d-flex align-items-center mb-1">
                            <span class="bi bi-envelope mr-4"></span>
                            <p class="mb-0">{{contact.email}}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="bi bi-phone mr-4"></span>
                            <p class="mb-0">{{contact.mobile}}</p>
                        </div> -->
                    </div>
                    <div class="d-flex align-items-center py-1">
                        <span class="bi bi-pencil mx-1" (click)="editContact(contact)"></span>
                        <span class="bi bi-trash ml-1" (click)="deleteContact(contact.id)"></span>
                    </div>
                </div>
                <div *ngIf="filteredContactList.length == 0" class="d-flex justify-content-center p-2">
                    <h6>No contacts Found</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-container>
<div class="d-flex align-items-center justify-content-center flex-column h-300 border rounded p-3" *ngIf="contactList.length == 0">
    <img class="mt-20" src="../../assets/images/contact.svg" />
    <h5 class="display-6 text-secondary">No contacts available</h5>
    <p class="text-secondary mt-30">Please add contact to view details.</p>
    <button class="btn btn-primary mt-3" (click)="addContactModal()">Add Contact</button>
</div>