<div class="top p-4 bg-primary">
  <h1 class="text-white  font-weight-lighter m-0 p-0 display-4">
   Address Book
  </h1>
</div>

<nav class="navbar bg-dark p-0">
  <div>
    <ul class="nav pl-1">
      <li class="nav-link"><a href="#" class="text-white">HOME</a></li>
      <li class="nav-link"><a routerLink="contact/contact-form/0"  class="text-white" >+ADD</a></li>
    </ul>
  </div>
  <div class="nav-icon navbar-right mx-4">
    <img src="../assets/images/blog-icon.png" />
  </div>
</nav>
<div class="container mx-2 w-100 row">  
    <router-outlet></router-outlet> 
</div>