<div class="my-1 border shadow-lg pb-4 px-4 pt-1">
    <button type="button" class="close" (click)="closeModal()">&times;</button>
    <form *ngIf="addContactForm" [formGroup]="addContactForm" name="add-contact-form" class="pr-4 mt-4" >       
        <!--(click)="closeModal()"-->
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name"
                [ngClass]="{'is-invalid':addContactForm.get('name')?.touched && addContactForm.get('name')?.invalid}" />
            <div class="invalid-feedback"  *ngIf="addContactForm.get('name')?.touched && addContactForm.get('name')?.invalid">
                <span *ngIf="addContactForm.get('name')?.errors?.required" class="error-message">Name is Required</span>
            </div>

        </div>
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid':addContactForm.get('email')?.touched && addContactForm.get('email')?.invalid}" />
            <div *ngIf="addContactForm.get('email')?.touched && addContactForm.get('email')?.invalid"
                class="invalid-feedback">
                <span *ngIf="addContactForm.get('email')?.errors?.required" class="error-message">Email is
                    Required</span>
                <span *ngIf="addContactForm.get('email')?.errors?.email" class="error-message">Email is not Valid</span>
            </div>
        </div>
        <div class="d-flex mb-3">
            <div class="form-group w-100 mr-20">
                <label for="mobile">Mobile</label>
                <input type="number" class="form-control" formControlName="mobile" [ngClass]="{'is-invalid':addContactForm.get('mobile')?.touched && addContactForm.get('mobile')?.invalid}" >
                <div *ngIf="addContactForm.get('mobile')?.touched && addContactForm.get('mobile')?.invalid" class="invalid-feedback">
                  <span *ngIf="addContactForm.get('mobile')?.errors?.required" class="error-message">Mobile Number is Required</span>
                  <span *ngIf="addContactForm.get('mobile')?.errors?.pattern?.requiredPattern" class="error-message">Mobile Number must be of 10 digit</span>
                </div>
              </div>
            <div class="form-group w-100">
                <label for="landline">Landline</label>
                <input type="number" class="form-control" formControlName="landline">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="website">Website</label>
            <input type="url" class="form-control" formControlName="website" />
        </div>
        <div class="form-group mb-3">
            <label for="address">Address</label>
            <textarea class="form-control" rows="3" formControlName="address"></textarea>
        </div>    
        <div class="form-group mb-3">
            <input *ngIf="id==0" name="add" type="submit" class="btn btn-success" (click)="addContactDetail()" [disabled]="!addContactForm.valid" value="Add">
            <input *ngIf="id!=0" name="save" type="submit" class="btn btn-success" (click)="updateContactDetail()" [disabled]="!addContactForm.valid" value="Save">
        </div>
    </form>
</div>