<div class="modal-header">
    <h5>{{ contactId ? 'Update' :'Add'}} Contact</h5>
    <span class="bi bi-x-lg cursor-pointer" (click)="closeModal()"></span>
</div>
<div class="modal-body">
    <form *ngIf="addContactForm" [formGroup]="addContactForm" name="addContactForm" class="space-y-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          
          <div>
            <label for="firstname" class="block text-gray-700">First name</label>
            <input type="text" id="firstname" formControlName="firstname"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                [ngClass]="{'border-red-500': addContactForm.get('firstname')?.touched && addContactForm.get('firstname')?.invalid}"
              />
            <div *ngIf="addContactForm.get('firstname')?.touched && addContactForm.get('firstname')?.invalid"
              class="mt-2 text-red-600 text-sm">
              <span *ngIf="addContactForm.get('firstname')?.errors?.required">First name is Required</span>
            </div>
          </div>
      
          <div>
            <label for="lastname" class="block text-gray-700">Last name</label>
            <input type="text" id="lastname" formControlName="lastname"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                [ngClass]="{'border-red-500': addContactForm.get('lastname')?.touched && addContactForm.get('lastname')?.invalid}"
              />
            <div *ngIf="addContactForm.get('lastname')?.touched && addContactForm.get('lastname')?.invalid"
              class="mt-2 text-red-600 text-sm">
              <span *ngIf="addContactForm.get('lastname')?.errors?.required">Last name is Required</span>
            </div>
          </div>
      
          <div>
            <label for="email" class="block text-gray-700">Email</label>
            <input type="email" id="email" formControlName="email"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                [ngClass]="{'border-red-500': addContactForm.get('email')?.touched && addContactForm.get('email')?.invalid}"
              />
            <div *ngIf="addContactForm.get('email')?.touched && addContactForm.get('email')?.invalid"
              class="mt-2 text-red-600 text-sm">
              <span *ngIf="addContactForm.get('email')?.errors?.required">Email is Required</span>
              <span *ngIf="addContactForm.get('email')?.errors?.email">Email is not Valid</span>
              <span *ngIf="addContactForm.get('email')?.errors?.duplicate">Email already exists</span>
              <span *ngIf="addContactForm.get('email')?.errors?.deliverable">Email is not deliverable</span>
            </div>
          </div>
      
          <div>
            <label for="mobile" class="block text-gray-700">Mobile</label>
            <input type="number" id="mobile" formControlName="mobile"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                [ngClass]="{'border-red-500': addContactForm.get('mobile')?.touched && addContactForm.get('mobile')?.invalid}"
              />
            <div *ngIf="addContactForm.get('mobile')?.touched && addContactForm.get('mobile')?.invalid"
              class="mt-2 text-red-600 text-sm">
              <span *ngIf="addContactForm.get('mobile')?.errors?.required">Mobile number is Required</span>
              <span *ngIf="addContactForm.get('mobile')?.errors?.pattern?.requiredPattern">Mobile number must be of 10 digits</span>
              <span *ngIf="addContactForm.get('mobile')?.errors?.duplicate">Mobile number already exists</span>
            </div>
          </div>
      
          <div class="col-span-2">
            <label for="website" class="block text-gray-700">Website</label>
            <input type="url" id="website" formControlName="website"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
      
          <div class="col-span-2">
            <label for="address" class="block text-gray-700">Address</label>
            <textarea id="address" formControlName="address" rows="3"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
          </div>
      
          <div class="col-span-2">
            <label for="description" class="block text-gray-700">Description</label>
            <textarea id="description" formControlName="description" rows="3"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
          </div>
      
        </div>
      
        <div class="flex justify-end mt-4">
          <button *ngIf="!contactId" type="button" (click)="addContactDetail()"
            class="px-4 py-2 bg-green-500 text-white font-semibold rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            [disabled]="!addContactForm.valid">Add Contact</button>
          <button *ngIf="contactId" type="button" (click)="updateContactDetail()"
            class="px-4 py-2 bg-green-500 text-white font-semibold rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            [disabled]="!addContactForm.valid">Update Contact</button>
        </div>
      </form>      
</div>